// bower:scss
// endbower
img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

@media screen and (max-width: 1024px){
	img.bg {
		left: 50%;
		margin-left: -512px; }
	}

	.navbar {
		background-color: black;

		.navbar-brand {
			height: 60px;
			margin-right: -10px;
		}

		.nav >li >a {
			padding-top: 22px;
			padding-bottom: 22px;
		}

		//Center text-field in navbar
		.navbar-form >div >input{
			margin-top: 7px;
		}

		//Center search button in navbar
		.navbar-form >button{
			margin-top: 7px;
		}

	}

	.browsehappy {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		padding: 0.2em 0;
	}

	body {
		padding: 0;
	}

	/* Everything but the jumbotron gets side spacing for mobile first views */
	.header,
	.marketing,
	.footer {
		padding-left: 15px;
		padding-right: 15px;
	}

	/* Custom page header */
	.header {
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 10px;

		/* Make the masthead heading the same height as the navigation */
		h3 {
			margin-top: 0;
			margin-bottom: 0;
			line-height: 40px;
			padding-bottom: 19px;
		}
	}

	/* Custom page footer */
	.footer {
		padding-top: 19px;
		color: #777;
		border-top: 1px solid #e5e5e5;
	}

	.container-narrow > hr {
		margin: 30px 0;
	}

	/* Main marketing message and sign up button */
	.jumbotron {
		text-align: center;
		border-bottom: 1px solid #e5e5e5;
		background-color: rgba(0, 0, 0, 0.9);

		p {
			color: white;
		}

		h2 {
			color: white;
		}

		h1 {
			color: white;
		}

		label {
			color: white;
		}

		.btn {
			font-size: 21px;
			padding: 14px 24px;
		}
	}

	/* Supporting marketing content */
	.marketing {
		margin: 40px 0;

		p + h4 {
			margin-top: 28px;
		}
	}

	.navbar-brand {
		padding: 0px;
	}
	.navbar-brand>img {
		height: 120%;
		width: 120%;
		padding: 15px;
		width: auto;
		margin-top: -5px;
	}

	.navbar-brand>img {
		padding: 7px 15px;
	}

	.form-group {
		text-align: center;
	}

	/* Responsive: Portrait tablets and up */
	@media screen and (min-width: 768px) {
		.container {
			max-width: 730px;
		}

		/* Remove the padding we set earlier */
		.header,
		.marketing,
		.footer {
			padding-left: 0;
			padding-right: 0;
		}
		/* Space out the masthead */
		.header {
			margin-bottom: 30px;
		}
		/* Remove the bottom border on the jumbotron for visual effect */
		.jumbotron {
			border-bottom: 0;
		}
	}
