// bower:scss
// endbower


// Background of website
img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

	/* Move behind everything else */
	z-index: -1;
}

@media screen and (max-width: 1024px){
	img.bg {
		left: 50%;
		margin-left: -512px;
	}
}

// Navbar-specific CSS
.navbar {
	background-color: black;

	//Adjust height of brand and decrease space to search field
	.navbar-brand {
		height: 60px;
		margin-right: -10px;
		padding: 0px;

		//Image CSS
		img {
			height: 120%;
			width: 120%;
			padding: 15px;
			width: auto;
			margin-top: -5px;
			padding: 7px 15px;
		}
	}

	//Vertically center menu options
	.nav >li >a {
		padding-top: 22px;
		padding-bottom: 22px;
	}

	//Vertically center text-field in navbar
	.navbar-form >div >input {
		margin-top: 7px;
	}

	//Vertically center search button in navbar
	.navbar-form >button {
		margin-top: 7px;
	}

	// Color for active tab
	.on {
		background-color: rgb(20, 20, 20);
	}

	// Color for inactive tab
	.off {
		background-color: rgb(0, 0, 0);
	}

}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}


// Jumbotron content CSS
.jumbotron {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.9);

	p {
		color: white;
	}

	h2 {
		color: white;
	}

	h1 {
		margin-top: -20px;
		color: white;
	}

	label {
		color: white;
	}

}

// Pull text in rows (panels specifically) to the left
.row {
	text-align: left;
}

// Recipe panels
.panel {
	.panel-body {
		padding: 5px;
		p {
			color: black;
			margin-bottom: 0px;
			padding-top: 22.5px;
			padding-bottom: 22.5px;
		}
	}
}

// Modal specific CSS
.modal-content {
	.modal-header {
		h2 {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}

	.modal-body {
		p {
			margin: 0 0 5px;
		}

		pre {
			margin-top: 10px;
		}

		.form-horizontal {
			.form-group {
				margin: 0px;

				button {
					margin-top: 5px;
					.glyphicon {
						top: 3px;
					}
				}
			}
		}

		// Comments specific CSS
		.comments {
			.panel-white {
				border: 2px solid #dddddd;
			}

			.post {
				.post-heading {
					padding: 0px 15px 30px;
				}
				.post-description {
					padding: 15px;
					padding-bottom: 0px;
				}
			}

			.post-footer {
				border-top: 1px solid #ddd;
				padding: 15px;

				.form-inline {
					.form-group {
						margin-left: 10px;

						button {
							.glyphicon {
								top: 3px;
							}
						}
					}
				}

				.comments-list {
					padding: 0;
					margin-top: 0px;
					list-style-type: none;

					.comment {
						margin-top: 0px;
						display: block;
						width: 100%;
						margin: 10px 0;

						.comment-heading {
							display: block;
							width: 100%;
						}
						.comment-body {
							margin-left: 25px;

							h5 {
							margin-bottom: 0px;
						}
						}
					}
				}
			}
		}

		.modal-footer {
			padding-left: 0px;

			p {
				margin: 0px;
			}
		}
	}
}

#collapse {
	p {
		color: black;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}

}
