<div class="jumbotron text-center" id="add">
  <h1>Lägg till recept <p class="lead">Ange namn på rätten, hur många ingredienser som använts samt hur rätten tillagas</p></h1>

  <div class="container">
    <uib-accordion class="col-xs-6 col-xs-offset-3">
      <uib-accordion-group heading="How-to" id="collapse">
        <p>Namn: {{howTo.name}} </p>
        <p>Ingredienser: {{howTo.count}}</p>
        <p>Beskrivning: {{howTo.description}}</p>
        <p>Taggar: {{howTo.tags}}</p>
      </uib-accordion-group>
    </uib-accordion>
  </div>

  <div class="container" ng-init="count = 0">
    <form role="form" class="form-horizontal no-margin center-block" name="recipeForm">
      <div class="form-group">
        <label class="control-label col-xs-offset-1 col-xs-2" for="name">Namn</label>
        <div class="col-xs-6"><input type="text" class="form-control" placeholder="Ex. Baconbäbisar" ng-model="dish" required></div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-offset-1 col-xs-2" for="amount">Ingredienser</label>
        <div class="col-xs-6"><input type="number" class="form-control" ng-model="count"></div>
      </div>
      <!-- Show if number of ingredients is bigger than 0 -->
      <div ng-show="count > 0">
        <!-- Add as many text inputs as there are ingredients -->
        <div class="form-group" ng-repeat="n in range(count) track by $index">
          <div class="col-xs-3 col-xs-offset-3"><label>Ingrediens</label><input type="text" class="form-control" placeholder="Ex. Bacon" ng-model="ingredients[$index]" ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0}}" required></div>
          <div class="col-xs-3"><label>Mängd</label><input type="text" class="form-control" placeholder="Ex. 4kg" ng-model="amounts[$index]" ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0}}" required></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-offset-1 col-xs-2" for="name">Beskrivning</label>
        <div class="col-xs-6"> <textarea class="form-control" rows="5" placeholder="Ex. Linda bacon kring en bäbis" ng-model="description" required></textarea></div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-offset-1 col-xs-2" for="amount">Taggar</label>
        <div class="col-xs-6"><input type="text" class="form-control" ng-model="tags" placeholder="Ex. gott, swag, yolo, bacon"></div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-xs-6 col-xs-offset-3">
          <button type="submit" class="btn btn-info pull-right" ng-disabled="recipeForm.$invalid" ng-click="addRecipe(dish, description, tags)">Lägg till</button>
        </div>
      </div>
    </form>
  </div>

</div>
